<!-- template inheritance - master html file - skeleton of each page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"> 
    <header>
    <h1>Resourceful Chef</h1>
    </header>
    <nav>
    <a href="{{ url_for('login')}}">Login/Logout</a>  
    <a href="{{ url_for('index')}}">Home</a>
    <a href="{{ url_for('pantry')}}">Pantry</a>
    <a href="{{ url_for('recipe_library')}}">Recipe Library</a>
    <a href="{{ url_for('recipe_journal')}}">Recipe Journal</a>
    </nav>

    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>