{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="content">
    <h2>Full Recipe Library</h2>
        <table>
            <tr>
                <th>Recipe Name</th>
                <th>Recipe Ingredients</th>
            </tr>
            {% for recipe in recipes %}
                {% for key, value in recipe.items() %}
                    <tr>
                        <td>{{ recipe['Name'] }}</td>
                        <td>{{ recipe['Ingredients'] }}</td>
                    </tr>
                    <!-- {% endfor %} -->
            {% endfor %}
        </table>

</div>
<h5>
    <a href="{{ url_for('recipe_library')}}">Return to Recipe Library</a>
</h5>
{% endblock %}