{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="content">
    <h2>Recipe Library</h2>
    <h4>
        <a href="{{ url_for('add_recipe')}}">Add Recipe</a>
        <a href="{{ url_for('remove_recipe')}}">Remove Recipe</a>
        </h4>
    <table>
        <tr>
            <th>Recipe Name</th>
        </tr>
        {% for recipe in recipe_names %}
            <tr>
                <td>{{recipe}}</td>
            </tr>
        {% endfor %}
    </table>

    <form action="/recipe_library" method="POST">
        <input type="submit" value="Request Recipe">
    </form>
    <h6>{{resourceful_recipe}}</h6>

</div>
<h5>
    <a href="{{ url_for('full_recipe_library')}}">View Full Recipe Library</a>
    <a href="{{ url_for('index')}}">Return Home</a>
</h5>
<h6>Click "View Full Recipe Library" to see the recipe name and ingredients</h6>
{% endblock %}