{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <h2>- Remove Item</h2>
    <form action="/remove_item" method="POST">
    <label for="removeitem">Item Name:</label><br>
    <input type="text" name="removeitem" id="removeitem"><br>
    <input type="submit" value="Remove Item" onclick="return confirm('Are you sure you would like to remove this item? The item will be permanently removed from the pantry and you will have to add it again manually.')" />
    </form>
</div>
<h4>
<a href="{{ url_for('pantry')}}">Return to Pantry</a>
</h4>
{% endblock %}